<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>

<h2>Ships</h2>
<% @heros.seach do |hero| %>
	<div class="ship">
		<h2>Hero Name: <%= ship.name %></p><br>
		<p>Type: <%= ship.type %></p><br>
		<p>Booty: <%= ship.booty %></p><br>
	</div><br>
<% end %>